<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.CommentMapper">

    <sql id="Base_Column_List">
        id,user_id,seller_id,product_id,time,content
    </sql>

    <select id="selectAll" resultType="com.example.entity.Comment">
        select comment.*, seller.name as sellerName, product.img as productImg, product.name as productName, product.price as productPrice,
        user.name as userName
        from comment
        left join seller on comment.seller_id = seller.id
        left join product on comment.product_id = product.id
        left join user on comment.user_id = user.id
        <where>
            <if test="id != null"> and id= #{id}</if>
            <if test="userId != null"> and user_id = #{userId}</if>
            <if test="sellerId != null"> and comment.seller_id = #{sellerId}</if>
            <if test="productId != null"> and product_id = #{productId}</if>
            <if test="time != null"> and time = #{time}</if>
            <if test="content != null"> and content like concat('%', #{content}, '%') </if>
        </where>
    </select>

    <select id="selectById" resultType="com.example.entity.Comment">
        select
        <include refid="Base_Column_List" />
        from comment
        where id = #{id}
    </select>

    <delete id="deleteById">
        delete from comment
        where  id = #{id}
    </delete>

    <insert id="insert" parameterType="com.example.entity.Comment" useGeneratedKeys="true">
        insert into comment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="userId != null">user_id,</if>
            <if test="sellerId != null">seller_id,</if>
            <if test="productId != null">product_id,</if>
            <if test="time != null">time,</if>
            <if test="content != null">content,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="userId != null">#{userId},</if>
            <if test="sellerId != null">#{sellerId},</if>
            <if test="productId != null">#{productId},</if>
            <if test="time != null">#{time},</if>
            <if test="content != null">#{content},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.example.entity.Comment">
        update comment
        <set>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="sellerId != null">
                seller_id = #{sellerId},
            </if>
            <if test="productId != null">
                product_id = #{productId},
            </if>
            <if test="time != null">
                time = #{time},
            </if>
            <if test="content != null">
                content = #{content},
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>